@font-face {
	font-family: 'Lemonada';
	src: url(/static/fonts/lemonada.ttf);
}
@font-face {
	font-family: 'arial';
	src: url(/static/fonts/arial.ttf);
}
@font-face {
	font-family: 'arial_black';
	src: url(/static/fonts/arial_black.ttf);
}
html, body, header {
	margin: 0;
}
header.header_first {
    position: fixed;
    color: #ffffff;
    background: #5b0009;
    height: 105px;
    left: 0px;
    top: 0px;
    right: 0px;
    box-shadow: 0px 0px 100px 1px rgba(91, 0, 9, 0.3);
}
.logo {
    position: fixed;
    left: 30px;
    top: 30px;
}
.lesson_algebra, .lesson_history, .lesson_geometry, .lesson_informatics {
    position: fixed;
    top: 10px;

    font-family: 'arial';
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    color: #e6d9da;
    letter-spacing: 0.06em;
    text-decoration: none;
}
.lesson_algebra:hover, .lesson_history:hover, .lesson_geometry:hover, .lesson_informatics:hover, .account:hover {
    color: #ffffff;
}
.lesson_history {
    width: 178px;
    height: 80px;
    left: 544px;

}
.lesson_algebra {
    width: 178px;
    height: 80px;
    left: 782px;
}
.lesson_geometry {
    width: 178px;
    height: 80px;
    left: 1013px;
}
.lesson_informatics {
    width: 178px;
    height: 80px;
    left: 1299px;
}
.account {
    position: fixed;
    left: 94.84%;
    right: 2.29%;
    top: 25px;
    bottom: 92.78%;

    color: #e6d9da;
}
.deskmate_person {
    width: 465px;
    height: 505px;
    margin-left: calc(50% - 465px/2);
    margin-top: 71px;
}
.main_page_text_logo {
    width: 472px;
    height: 63px;
    margin-left: calc(50% - 472px/2);
    margin-top: 0px;

    font-family: 'Lemonada';
    font-style: strong;
    font-weight: 700;
    font-size: 80px;
    line-height: 160px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #5B0009;
}
.main_page_text {
    height: 49px;
    margin-left: calc(50% - 600px/2);
    margin-top: 13px;
    font-weight: 575;
    font-size: 50px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #5B0009;
}
.button_creators {
    margin-left: calc(50% - 592px/2);
    margin-right: calc(50% - 592px/2);
    margin-top: 62px;
    padding: 16px 24px;
    background: #5B0009;
    color: #ffffff;
    border-radius: 25px;
}
.button_creators:hover {
    box-shadow: 0px 0px 54px 1px rgba(91, 0, 9, 0.5);
}
.heading_creators {
    width: 391px;
    height: 53px;
    margin-left: calc(50% - 373px/2 + 0.5px);
    margin-top: 67px;

    font-weight: 700;
    font-size: 70px;
    line-height: 140px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #5B0009;
}

.Sonya_pic, .Egor_pic {
    height: 518px;
    margin-top: 55px;
    border-radius: 63px;
}
.Sonya_pic {
    width: 403px;
    margin-left: calc(50% - 403px - 45px);
}
.Egor_pic {
    width: 401px;
    margin-left: 90px;
}
.creators_page_text {
    width: 1236px;
    height: 138px;
    margin-left: calc(50% - 1236px/2);
    margin-top: 67px;
    font-style: strong;
    font-weight: 575;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #5B0009;
}

main {
    margin-top: 110px;
    overflow: hidden;
}

.btn {
    padding: 16px 24px;
    background: #5B0009;
    color: #ffffff;
    border-radius: 25px;
}
.btn:hover {
    background: #80000d;
}

.btn:focus {
    background: #80000d;
}

.centre-block {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 30px;
    width: 75%;
    border-radius: 30px;
    color: #5B0009;
    font-weight: bolder;
}

.centre-block > h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

#submit-par-btn {
    text-align: center;
}

#submit-par-btn > .btn {
    width: 300px;
    font-size: 35px;
}

form > p {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.input-field {
    border-radius: 20px;
    background: white;
    box-shadow: inset 0 0 72px 2px rgba(91, 0, 9, 0.25);
    border: none;
}

#register-link {
    text-align: center;
}

#register-link > a {
    color: #5B0009;
    text-decoration: none;
}
