{% extends "base.html" %}

{% block content %}
    <p class="heading_creators">
    Исторические события
    </p>
    {% if events %}
    <table class="table_inf">
    {% for item in events%}
            <tr>
                <td class="table_inf_td">
                    <p style="margin-bottom: 10px, margin-top: 10px">
                    <p style="font-size: 35px; color: #5B0009">
                        <b>{{item.event}} - {{item.year}}</b><br>
                        {{item.description}}
                    </p>
                    <a href="/history/event/{{ item.id }}" class="button_history">
                    Изменить
                    </a>
                    <a class="button_history" href="/history/delete/{{ item.id }}">
                    Удалить
                    </a>
                    </p>
                </td>
            </tr>
    {% endfor %}
    </table>
    {% endif %}
    <p class="button_creators">
    <a href="add_event" style="color: #ffffff; text-decoration: none;"> Добавить событие</a>
    </p>

{% endblock %}