{% extends "base.html" %}

{% block content %}

<div class="shadow-lg p-3 mb-5 bg-body centre-block">
    <h1>Вход</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.login.label }}<br>
            {{ form.login(class="form-control input-field", type="login") }}<br>
            {% for error in form.login.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control input-field", type="password") }}<br>
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        {% if message %}
            <p class="alert alert-danger" role="alert">
                {{message}}
            </p>
        {% endif %}
        <p id="submit-par-btn">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
    <p id="register-link">
        <a href="register">Регистрация</a>
    </p>
</div>
{% endblock %}