{% extends "base.html" %}

{% block content %}

<div class="shadow-lg p-3 mb-5 bg-body centre-block">
    <h1>{{title}}</h1>
    {% if right %}
        <div class="alert alert-success" role="alert"> Ваш ответ верный! :D </div>
    {% else %}
        <div class="alert alert-danger" role="alert"> Ваш ответ верный! :( </div>
    {% endif %}
    <h4>
        {{ event }} - {{ year }}
    </h4>
    <p> {{ description }} </p>
    <form action="" method="post">
        <div id="submit-par-btn"> <button type="submit" class="btn btn-primary"> Дальше </button> </div>
    </form>
</div>
{% endblock %}