{% extends "base.html" %}

{% block content %}

<div class="shadow-lg p-3 mb-5 bg-body centre-block">
    <h1>{{title}}</h1>
    {% if right %}
        <div class="alert alert-success" role="alert"> Ваш ответ верный! :D </div>
    {% else %}
        <div class="alert alert-danger" role="alert"> Ваш ответ неверный! :( </div>
    {% endif %}
    <p style="font-size: 35px; color: #5B0009; text-align: center;">
        {{ event }} - {{ year }}
    </p>
    <p style="font-size: 25px; color: #5B0009; text-align: center;"> {{ description }} </p>
    <form action="" method="post">
        <div id="submit-par-btn"> <button type="submit" class="btn btn-primary"> Дальше </button> </div>
    </form>
</div>
{% endblock %}